:root
{
  --color1: #121216;
  --color2: #e8e6e1;

  --box-shadow: 0 4px 6px rgba(0,0,0, 0.3);
  --base-margin: 5%;
  --base-padding: 4%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body
{
  background-color: var(--color1);
  color: var(--color2);
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
}

html {
  scroll-behavior: smooth;
}

section
{
  margin: var(--base-margin);
  padding: var(base);
}

a
{
  text-decoration: none;
  color: var(--color2);
}

/* NAV BAR */
#navbar
{
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color1);
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 10;
}

#domain-name {
  font-size: 1.3rem;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#nav-links {
  display: flex;
  gap: 20px; 
}

#nav-links a {
  color: var(--color2);
  text-decoration: none;
  font-size: 1.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#nav-links a:hover, #navbar header:hover {
  transform: scale(1.04);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

h1
{
  font-size: 2rem;
  font-weight: bold;
  
}

/* Home */
#welcome-section 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

#welcome-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

#welcome-text
{
  flex: 1 1 60%;
}
#welcome-text h1
{
  font-size: 3.5rem;
  font-weight: normal;

}

#welcome-text p
{
  font-size: 1.3rem;
}

#welcome-image
{
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-image img
{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.typewriter {
  display: inline-block;
  padding-right: 5px; 
}

.typewriter::after {
  content: '|';
  display: inline-block;
  border-right: 2px solid transparent;
  animation: blink 1s step-end infinite;
  margin-left: 2px; 
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

/* PROJECTS */
#project-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.project-tile
{
  background-color: var(--color1);
  
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid var(--color2); */
  border-radius: 15px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  transition: transform .3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.project-tile img
{
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.project-tile h2
{
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color2);
  transition: color .3s ease;
}

.project-tile:hover
{
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
  background-color: var(--color2);
  color: var(--color1);
}

.project-tile:hover h2 {
  color: var(--color1); 
}

#project-details {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centers it horizontally */
  text-align: center;
  width: fit-content; /* Adjust width based on content */
}

/* SOCIALS */
.socials-container
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  flex-direction: column;
}

.social-tile
{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
  background-color: var(--color1);
  border: 1px solid var(--color2);
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  width: 500px;
  height: 110px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.social-tile:hover {
  transform: scale(1.05); 
  background-color: var(--color2); 
  color: var(--color1); 
}


.social-tile ion-icon
{
  color: var(--color2);
  font-size: 5rem;
}

.social-tile:hover ion-icon {
  color: var(--color1); 
}

@media (max-width: 1050px) {
  .socials-container {
    flex-direction: column;
    align-items: center;
  }

  .social-tile {
    width: 90%; /* Ensures they take up most of the width but leave space */
  }
}

/* ABOUT */

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 40px;
}

.about-row .reverse{
  flex-direction: row-reverse; 
}

.about-row p {
  flex: 1 1 70%;
  font-size: 1.2rem;
  line-height: 1.4;
}

.about-row p .bold {
  font-weight: bold;
}

.multi-paragraph
{
  display: flex;
  flex-direction: column;
}
.about-row img {
  flex: 0 0 auto;
  max-width: 35%;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-row  img:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#footer-logo {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

#footer-logo p {
  margin: 5%;
  padding: 5%;
  font-size: 1rem;
}

#footer-social-container {
  display: flex;
  gap: 15px;  
}

.footer-social ion-icon {
  color: var(--color2);
  font-size: 1.5rem;  
  transition: transform 0.3s ease;  
}

.footer-social ion-icon:hover {
  transform: scale(1.1); 
}

/* Scroll Animation */
.hidden
{
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show
{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);

}

.project-container:nth-child(2)
{
  transition-delay: 400ms;
}
.project-container:nth-child(3)
{
  transition-delay: 800ms;
}
.project-container:nth-child(4)
{
  transition-delay: 1200ms;
}

@media(prefers-reduced-motion)
{
  .hidden
  {
    transition: none;
  }
}

@media (max-width: 768px) {
  
  /* HOME */
  #welcome-container {
    flex-direction: column;
    text-align: center;
  }

  #welcome-image {
    flex: 1 1 auto;
  }

  #welcome-image img {
    max-width: 200px; 
    height: auto;
  }

  #welcome-text h1 {
    font-size: 2.5rem; 
  }

  #welcome-text p {
    font-size: 1rem;
  }

  /* PROJECTS */

  #project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    width: 100%; 
    gap: 2px;
  }

  .project-tile {
    flex-direction: row;
    height: 200px; 
    max-width: 100%; 
    margin: 10px auto; 
  }
  .project-tile img {
    width: 100px; 
    height: 100%; 
  }

  .project-tile h2 {
    font-size: 1rem; 
    margin-left: 10px; 
    align-self: center;
  }
  
  /* NAV BAR */
  #navbar
  {
    display: none;
  }
  
  #nav-links {
    flex-direction: column;
    align-items: center;
    gap: 10px; 
  }

  /* SOCIALS */
  .socials-container
  {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }
  .social-tile
  {
    width: 100%;
    height: auto;
    padding: 10px;
    flex-direction: row; 
    gap: 8px; 
    text-align: left;
    
  }

  .social-tile ion-icon {
    font-size: 3rem; 
  }

  .social-tile p {
    font-size: 0.9rem; 
    margin: 0; 
  }
  
  /* ABOUT */
  section {
    padding: 20px; 
  }

  .about-row
  {
    flex-direction: column;
  }
  .about-row img
  {
    max-width: 100%;
    order: -1;
  }
  .about-row p
  {
    order: 1;
  }

}